/* small screens */
@media screen and (max-width: 600px) {
	body {
		margin: 0px;
	}

	#top_left img {
		width: 40vw;
	}

	#top_right img {
		width: 40vw;
	}

	#top_middle h1 {
		font-size: 1em;
	}

	#image_bar {
		display: none;
	}

	#navigation ul {
		list-style-type: none;
	}

	#navigation li {
		display: list-item;
		padding: 5px;
		font-weight: 800;
	}

	#nav_sub {
		margin: 5px 0;
	}

	#nav_sub_default {
		display: none;
	}

	#nav_sub_mobile {
		display: inline;
	}

	#wrapper {
		border: 0;
		box-shadow: none;
	}

	#map_wrapper {
		float: none;
	}

	#map {
		height: 400px;
		margin-right: 0px;
	}

	#map_size {
		width: 100%;
		height: 400px;
	}

	#map_menu {
		height: 400px;
		width: auto;
		float: none;
		margin-top: 10px;
		margin-left: 0px;
	}

	.view_line {
		margin-right: 10px;
	}

	.view_name {
		float: none;
		width: 100%;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}

	.view_content {
		overflow: visible;
		width: 100%;
		padding-top: 0px;
	}
}

/* move search results below search parameters */
@media screen and (max-width: 650px) {
	#search_menu {
		position: static;
		width: 100%;
		margin-right: 0;
		float: none;
		overflow: visible;
	}

	#search_menu td.list:first-child {
		width: 220px;
		min-width: 220px;
	}

	#search_results_wrapper {
		margin-top: 15px;
		float: none;
		width: 100%;
	}

	#search_results {
		width: auto;
		margin-left: 0;
		clear: none;
		overflow: visible;
	}
}
